<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="LibraryFiles.ExtentManegar"/>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="Wobb_ai_Post_Campaign_Test.Wobb_ai_Post_Campaign_Test"/>
      <class name="Wobb_ai_Sign_in_Test.Wobb_ai_Sign_in_Test"/>
   	 <class name="Wobb_ai_SignUp_Page_Test.Sign_Up_PageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
